.choice-pages-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media screen and (max-width: 700px) {
    .choice-pages-block {
      flex-direction: column; } }
  .choice-pages-block ul.pagination {
    margin: 0; }
    .choice-pages-block ul.pagination li a {
      cursor: pointer; }
      .choice-pages-block ul.pagination li a.active {
        color: #fff;
        background-color: #46b8da; }
  .choice-pages-block select.counts-to-show {
    margin-bottom: 5px;
    width: auto;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none; }

/*# sourceMappingURL=custom.css.map */
