@charset "UTF-8";
/////////////////////////

.choice-pages-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
    @media screen and (max-width: 700px){
        flex-direction: column;
    }
    ul.pagination {
        margin: 0;
        li a {
            cursor: pointer;
            &.active {
                color: #fff;
                background-color: rgb(70, 184, 218);
            }
        }
    }
    select.counts-to-show {
        margin-bottom: 5px;
        width: auto;
        height: 32px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 20px;
        color: #555;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        outline: none;
    }
}