.add-product-form {
  margin: 12px 0;
  padding: 12px 12px 18px 12px;
  background-color: #e6e6e6;
  border-radius: 9px; }
  .add-product-form div.text-data {
    height: 86px; }
    .add-product-form div.text-data label {
      width: 100%; }
      .add-product-form div.text-data label input {
        font-weight: 400; }
      .add-product-form div.text-data label .error {
        font-weight: 400;
        color: #ff0d0d;
        font-size: 13px; }
    @media screen and (max-width: 767px) {
      .add-product-form div.text-data {
        height: auto;
        min-height: 72px; } }

/*# sourceMappingURL=custom.css.map */
