@charset "UTF-8";
/////////////////////////

.add-product-form {
    margin: 12px 0;
    padding: 12px 12px 18px 12px;
    background-color: #e6e6e6;
    border-radius: 9px;
    div.text-data{
        height: 86px;
        label {
            width: 100%;
            input {
                font-weight: 400;
            }
            .error {
                font-weight: 400;
                color: #ff0d0d;
                font-size: 13px;
            }
        }
        @media screen and (max-width: 767px) {
            height: auto;
            min-height: 72px;
        }
    }
}