@charset "UTF-8";
/////////////////////////

//in create product form
.column-radio-group {
    height: 82px;
    padding-top: 9px;
    @media screen and (max-width: 767px){
        padding-bottom: 12px;
        height: auto;
    }
    label{
        width: 100%;
        input {
            margin-right: 6px;
        }
        @media screen and (max-width: 767px){
            width: auto;
            &:last-of-type {
                margin-left: 24px;
            }
        }
    }
}

//in change product form
.row-radio-group {
    label:first-of-type{
        margin-right: 24px;
    }
}