.column-radio-group {
  height: 82px;
  padding-top: 9px; }
  @media screen and (max-width: 767px) {
    .column-radio-group {
      padding-bottom: 12px;
      height: auto; } }
  .column-radio-group label {
    width: 100%; }
    .column-radio-group label input {
      margin-right: 6px; }
    @media screen and (max-width: 767px) {
      .column-radio-group label {
        width: auto; }
        .column-radio-group label:last-of-type {
          margin-left: 24px; } }

.row-radio-group label:first-of-type {
  margin-right: 24px; }

/*# sourceMappingURL=custom.css.map */
