@charset "UTF-8";
/////////////////////////

.filter-form {
    input[type="checkbox"] {
        @media screen and (max-width: 990px) {
            margin-top: 9px;
            &.not-first {
                margin-left: 24px;
            }
        }
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}