@media screen and (max-width: 990px) {
  .filter-form input[type="checkbox"] {
    margin-top: 9px; }
    .filter-form input[type="checkbox"].not-first {
      margin-left: 24px; } }
@media screen and (max-width: 767px) {
  .filter-form input[type="checkbox"] {
    margin-top: 0; } }

/*# sourceMappingURL=custom.css.map */
