@charset "UTF-8";
/////////////////////////

.transition {
    transition: all 0.4s ease;
}

.products-table thead {
    th {
        border-bottom: 1px solid #ddd !important;
    }
    th.head {
        cursor: pointer;
        position: relative;
        .arrow-asc {
            @extend .transition;
            position: absolute;
            right: 5px;
            top: 12px;
            transform: rotate(0deg);
            @media screen and (max-width: 600px){
                position: static;
                float: right;
                padding-top: 3px;
            }
        }
        .arrow-desc{
            @extend .arrow-asc;
            transform: rotate(-180deg);
        }
    }
}

.checkedField {
    @extend .transition;
    background-color: #e6e22c;
}
.sortingField {
    background-color: #e6e6e6;
}
.sortingCheckedField {
    @extend .transition;
    background-color: #a8984e;
}