.transition, .products-table thead th.head .arrow-asc, .products-table thead th.head .arrow-desc, .checkedField, .sortingCheckedField {
  transition: all 0.4s ease; }

.products-table thead th {
  border-bottom: 1px solid #ddd !important; }
.products-table thead th.head {
  cursor: pointer;
  position: relative; }
  .products-table thead th.head .arrow-asc, .products-table thead th.head .arrow-desc {
    position: absolute;
    right: 5px;
    top: 12px;
    transform: rotate(0deg); }
    @media screen and (max-width: 600px) {
      .products-table thead th.head .arrow-asc, .products-table thead th.head .arrow-desc {
        position: static;
        float: right;
        padding-top: 3px; } }
  .products-table thead th.head .arrow-desc {
    transform: rotate(-180deg); }

.checkedField {
  background-color: #e6e22c; }

.sortingField {
  background-color: #e6e6e6; }

.sortingCheckedField {
  background-color: #a8984e; }

/*# sourceMappingURL=custom.css.map */
