.product-page ul li .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .product-page ul li .flex-row span.field-info {
    font-weight: 700; }
  .product-page ul li .flex-row button:not(:first-of-type) {
    margin-left: 12px; }
.product-page ul li input {
  margin-top: 12px; }

/*# sourceMappingURL=custom.css.map */
