@charset "UTF-8";
/////////////////////////

.product-page {
    ul li {
        .flex-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span.field-info {
                font-weight: 700;
            }
            button:not(:first-of-type) {
                margin-left: 12px;
            }
        }
        input {
            margin-top: 12px;
        }
    }
}