@charset "UTF-8";
/////////////////////////

.modal-success-save {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(68, 75, 108, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-body {
        position: relative;
        width: 250px;
        height: 200px;
        background-color: #fff;
        text-align: center;
        .close-cross{
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
        }
        h3 {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}